name: Deploy Expense Tracker Frontend

on: [push, workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      S3_BUCKET_NAME: expensetrackapp-frontend
      CLOUDFRONT_DISTRIBUTION_ID: EA23J2DYX6MUS
      VITE_API_URL: https://api.starphotography.in

    steps:
      - name: check all files
        run: ls -a

      - name: Clone frontend repository
        uses: actions/checkout@v4

      - name: check all files in frontend repository
        run: ls -a
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build app
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: aws s3 sync dist/ "s3://${S3_BUCKET_NAME}/" --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "$CLOUDFRONT_DISTRIBUTION_ID" \
            --paths "/index.html"

      - name: Deployment complete
        run: echo "Frontend Deployed Successfully..."